<footer class="footer">
  <div class="footer__section-primary">
    <a class="footer__link text-base-medium" href="#">Trademark Policy</a>
    <a class="footer__link text-base-medium" href="#">Privacy Policy</a>
    <a class="footer__link text-base-medium" href="#">Code of Conduct</a>
    <a class="footer__link text-base-medium" href="#">Security</a>
  </div>
  <div class="footer__section-secondary">
    <a class="footer__link text-base-medium" href="#">© OpenJS Foundation</a>
    <div class="footer__socials">
      <a class="footer__social" href="" aria-label="Node.js Github">
        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5 11.25C15.6656 11.25 11.75 15.1656 11.75 20C11.75 23.8719 14.2547 27.1422 17.7328 28.3016C18.1703 28.3781 18.3344 28.1156 18.3344 27.8859C18.3344 27.6781 18.3234 26.9891 18.3234 26.2563C16.125 26.6609 15.5562 25.7203 15.3812 25.2281C15.2828 24.9766 14.8563 24.2 14.4844 23.9922C14.1781 23.8281 13.7406 23.4234 14.4734 23.4125C15.1625 23.4016 15.6547 24.0469 15.8187 24.3094C16.6063 25.6328 17.8641 25.2609 18.3672 25.0312C18.4438 24.4625 18.6734 24.0797 18.925 23.8609C16.9781 23.6422 14.9438 22.8875 14.9438 19.5406C14.9438 18.5891 15.2828 17.8016 15.8406 17.1891C15.7531 16.9703 15.4469 16.0734 15.9281 14.8703C15.9281 14.8703 16.6609 14.6406 18.3344 15.7672C19.0344 15.5703 19.7781 15.4719 20.5219 15.4719C21.2656 15.4719 22.0094 15.5703 22.7094 15.7672C24.3828 14.6297 25.1156 14.8703 25.1156 14.8703C25.5969 16.0734 25.2906 16.9703 25.2031 17.1891C25.7609 17.8016 26.1 18.5781 26.1 19.5406C26.1 22.8984 24.0547 23.6422 22.1078 23.8609C22.425 24.1344 22.6984 24.6594 22.6984 25.4797C22.6984 26.65 22.6875 27.5906 22.6875 27.8859C22.6875 28.1156 22.8516 28.3891 23.2891 28.3016C25.0261 27.7152 26.5355 26.5988 27.6048 25.1096C28.6741 23.6204 29.2495 21.8333 29.25 20C29.25 15.1656 25.3344 11.25 20.5 11.25Z" fill="#2C3437"/>
        </svg>
      </a>
      <a class="footer__social" href="" aria-label="Node.js Mastodon">
        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_13470_548)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7964 25.2439C27.3023 24.9446 29.4842 23.4006 29.7585 21.9898C30.1906 19.7674 30.1549 16.5663 30.1549 16.5663C30.1549 12.2277 27.3123 10.956 27.3123 10.956C25.8791 10.2977 23.418 10.0209 20.8611 10H20.7983C18.2414 10.0209 15.7819 10.2977 14.3486 10.956C14.3486 10.956 11.5059 12.2277 11.5059 16.5663C11.5059 16.8293 11.5046 17.106 11.5031 17.394C11.4992 18.1938 11.4948 19.0812 11.518 20.0074C11.6212 24.2504 12.2959 28.432 16.2187 29.4703C18.0275 29.9491 19.5805 30.0493 20.8312 29.9805C23.0993 29.8548 24.3725 29.1711 24.3725 29.1711L24.2977 27.5254C24.2977 27.5254 22.6769 28.0365 20.8566 27.9742C19.0531 27.9124 17.1492 27.7797 16.8575 25.5655C16.8306 25.371 16.8171 25.163 16.8171 24.9446C16.8171 24.9446 18.5875 25.3774 20.8312 25.4802C22.2031 25.5431 23.4897 25.3998 24.7964 25.2439ZM26.8027 22.1562V16.9029C26.8027 15.8292 26.5293 14.976 25.9803 14.3448C25.414 13.7136 24.6724 13.39 23.752 13.39C22.6868 13.39 21.8803 13.7994 21.3471 14.6182L20.8286 15.4872L20.3102 14.6182C19.7769 13.7994 18.9704 13.39 17.9053 13.39C16.9848 13.39 16.2432 13.7136 15.677 14.3448C15.1279 14.976 14.8545 15.8292 14.8545 16.9029V22.1562H16.9358V17.0573C16.9358 15.9825 17.388 15.4369 18.2926 15.4369C19.2928 15.4369 19.7942 16.0841 19.7942 17.3638V20.1547H21.8631V17.3638C21.8631 16.0841 22.3644 15.4369 23.3646 15.4369C24.2692 15.4369 24.7214 15.9825 24.7214 17.0573V22.1562H26.8027Z" fill="#2B90D9"/>
          </g>
          <defs>
          <clipPath id="clip0_13470_548">
          <rect width="20" height="20" fill="white" transform="translate(10.5 10)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
      <a class="footer__social" href="" aria-label="Node.js Twitter">
        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5473 12.0576L18.4944 21.3466L11.5034 28.8989H13.0768L19.1974 22.2867L24.1427 28.8989H29.497L22.159 19.0875L28.6662 12.0576H27.0928L21.456 18.1473L16.9016 12.0576H11.5473ZM13.8611 13.2166H16.3209L27.1829 27.7398H24.7231L13.8611 13.2166Z" fill="black"/>
        </svg>
      </a>
      <a class="footer__social" href="" aria-label="Node.js Slack">
        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.0626 19.3749C27.9255 19.3749 28.625 18.6754 28.625 17.8125C28.625 16.9496 27.9254 16.2501 27.0626 16.2501C26.1996 16.2501 25.5 16.9497 25.5 17.8126V19.3749H27.0626ZM22.6875 19.3749C23.5504 19.3749 24.25 18.6753 24.25 17.8124V13.4376C24.25 12.5747 23.5504 11.8751 22.6875 11.8751C21.8246 11.8751 21.125 12.5747 21.125 13.4376V17.8124C21.125 18.6753 21.8246 19.3749 22.6875 19.3749Z" fill="#2EB67D"/>
          <path d="M13.9374 20.6251C13.0745 20.6251 12.375 21.3246 12.375 22.1875C12.375 23.0504 13.0746 23.7499 13.9374 23.7499C14.8004 23.7499 15.5 23.0503 15.5 22.1874V20.6251H13.9374ZM18.3125 20.6251C17.4496 20.6251 16.75 21.3247 16.75 22.1876V26.5624C16.75 27.4253 17.4496 28.1249 18.3125 28.1249C19.1754 28.1249 19.875 27.4253 19.875 26.5624V22.1876C19.875 21.3247 19.1754 20.6251 18.3125 20.6251Z" fill="#E01E5A"/>
          <path d="M21.1253 26.5626C21.1253 27.4255 21.8248 28.125 22.6876 28.125C23.5505 28.125 24.25 27.4254 24.25 26.5626C24.25 25.6996 23.5504 25 22.6875 25L21.1253 25L21.1253 26.5626ZM21.1253 22.1875C21.1253 23.0504 21.8248 23.75 22.6878 23.75L27.0625 23.75C27.9254 23.75 28.625 23.0504 28.625 22.1875C28.625 21.3246 27.9254 20.625 27.0625 20.625L22.6878 20.625C21.8248 20.625 21.1253 21.3246 21.1253 22.1875Z" fill="#ECB22E"/>
          <path d="M19.8747 13.4374C19.8747 12.5745 19.1752 11.875 18.3124 11.875C17.4495 11.875 16.75 12.5746 16.75 13.4374C16.75 14.3004 17.4496 15 18.3125 15L19.8747 15L19.8747 13.4374ZM19.8747 17.8125C19.8747 16.9496 19.1752 16.25 18.3122 16.25L13.9375 16.25C13.0746 16.25 12.375 16.9496 12.375 17.8125C12.375 18.6754 13.0746 19.375 13.9375 19.375L18.3122 19.375C19.1752 19.375 19.8747 18.6754 19.8747 17.8125Z" fill="#36C5F0"/>
        </svg>
      </a>
      <a class="footer__social" href="" aria-label="Node.js Linkedin">
        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="10.5" y="10" width="20" height="20" rx="10" fill="#1275B1"/>
          <path d="M18.0847 15.4944C18.0847 16.162 17.5061 16.7031 16.7923 16.7031C16.0786 16.7031 15.5 16.162 15.5 15.4944C15.5 14.8269 16.0786 14.2858 16.7923 14.2858C17.5061 14.2858 18.0847 14.8269 18.0847 15.4944Z" fill="white"/>
          <path d="M15.6767 17.5916H17.8859V24.2858H15.6767V17.5916Z" fill="white"/>
          <path d="M21.4426 17.5916H19.2334V24.2858H21.4426C21.4426 24.2858 21.4426 22.1783 21.4426 20.8607C21.4426 20.0698 21.7126 19.2754 22.7901 19.2754C24.0079 19.2754 24.0005 20.3104 23.9949 21.1123C23.9874 22.1604 24.0052 23.2299 24.0052 24.2858H26.2143V20.7527C26.1956 18.4968 25.6077 17.4573 23.6738 17.4573C22.5253 17.4573 21.8134 17.9787 21.4426 18.4504V17.5916Z" fill="white"/>
        </svg>
      </a>
    </div>
  </div>
</footer>
