.hero {
  padding: 70px 20px;
}

.hero__title {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}

.hero__text {
  margin-block-start: 0;
  margin-block-end: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.hero__link {
  display: inline-flex;
  /* min-width: 90px; */
  width: 100%;
  min-height: 24px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--neutral-800);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-block-start: 8px;
  margin-block-end: 32px;
  padding-block: 10px;
}
