.hero {
  padding: 70px 20px;
}

.hero__title {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}

.hero__text {
  margin-block-start: 0;
  margin-block-end: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.hero__button {
  margin-block-end: 8px;
  background-color: var(--green-600);
}

.hero__link {
  display: inline-flex;
  /* min-width: 90px; */
  width: 100%;
  min-height: 24px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--neutral-800);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  @media (width > 1439px) {
    width: 90px;
  }
}
