.header {
  /* @media (width > 1439px) {
    display: flex;
    align-items: center;
  } */
}

.header__container {
  @media (width > 1439px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--neutral-200);
  }
}

.header__toggle-menu {
  display: inline-flex;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (width > 1439px) {
    display: none;
  }
}

/* width: 32px;
height: 32px; -для удобного нажатия пальцем на телефоне */

.header__user {
  display: flex;
  justify-content: space-between;
  /* min-height: 80px; */
  align-items: center;
  padding-inline: 20px;
  padding-block: 18px;
  border-bottom: 1px solid var(--neutral-200);

  @media (width > 1439px) {
    border-bottom: none;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--neutral-200);
  padding: 20px;
  cursor: pointer;
  margin-block: 0;

  @media (width > 1439px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: none;
  }
}

.header__link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  color: var(--neutral-900);
}

.header__link--arrow {
  background-image: url(/view/header/arrow.svg);
  background-repeat: no-repeat;
  background-position: top 50% left 30%;

  @media (width > 1439px) {
    background-position: top 50% right 5px;
    padding-right: 25px;
    background-position: top 50% calc(100% - 5px);
  }
}

.header__actions {
  padding: 20px;
  border-bottom: 1px solid var(--neutral-200);

  @media (width > 1439px) {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
    border-bottom: none;
  }
}

.header__settings {
  display: flex;
  padding-block-start: 16px;
  padding-inline-start: 16px;
  align-items: center;
  gap: 8px;

  @media (width > 1439px) {
    padding-block-start: 0;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 36px;
  min-height: 36px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.header__settings--githubLink {
  display: inline-flex;
}
