:root {
  --white: #ffffff;
  --search-background-gray: #f6f7f9;
  --arrow-gray: #b1bcc2;
  --light-gray: #929fa5;
  --dark-gray: #2c3437;
  --gray: #556066;
  --green: #417e38;
  --dark-green: #2c682c;
  --light-green-200: #c5e5b4;
  --arrow-green: #5fa04e;
  --light-green-100: #edf2eb;
}
