@import url("./font/font.css");
@import url("./color.css");
@import url("/view/base/typography.css");

html {
  font-family: "Open Sans", "system-ui", sans-serif;
}

html, body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;  /* Этот блок занимает все доступное пространство */
}

.main--home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main--text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.h1 {
  text-decoration: none;
}
