.about__container {
  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "select main metabar"
    "select breadcrumb metabar";
  }
}
